body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 4em;
}
.website-header {
    background-color: black;
}
.app-header {
    background-image: url('img/header-background.jpg');
    background-size: cover;
    background-position: 50% 60%;
}
.inline-text {
    display: inline-block;
    vertical-align: middle;
}
.description-header {
    font-size: 3em;
}
mc_field_headers,
.description {
    font-size: 1.5em;
}
.app-screenshot-container {
    height: 500px;
    z-index: 100;
}
.outer-hor-center {
    width: 100%;
    text-align: center;
}
.inner-hor-center {
    display: inline-block;
}
.center-hor-vert-social,
.center-hor-vert {
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    resize: both;
    overflow: auto;
}
.center-hor-vert-social {
    transform: translate(-50%, 50%);
    width: 100%;
    text-align: center;
}
.connect-row {
    background: white;
    height: 250px;
    color: black;
}
.social-button {
    height: 55px;
    width: 55px;
    margin: 10px;
    text-align: center;
    -moz-border-radius:75px;
    -webkit-border-radius:75px;
    display: inline-block;
}
.facebook {
    background: #3b5998;
}
.facebook:hover {
    background: #466ab4;
}
.twitter {
    background: #4099FF;
}
.twitter:hover {
    background: #67aeff;
}
.instagram {
    background: #517fa4;    
}
.instagram:hover {
    background: #6892b4;
}
.icon {
    font-size:32px;
    line-height:55px;
}
.white {
    color: white;
    text-decoration: none;
}
.white:hover {
    color: white;
}
